.venv/
__pycache__
.ruff_cache/

# macOS
**/.DS_Store

# Cursor
.cursorrules
.cursor/

# VSCode
.vscode

.secrets
.env

# Experiment
notebooks/

# Data
data/

# Artifacts
artifacts/
mlruns/
mlartifacts/